* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-style: normal;
  font-weight: normal;
}

a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

body {
  background-color: #333;
}

.gameWrap {
  margin: 0 auto;
  margin-top: 100px;
  width: 320px;
  height: 370px;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.options {
  color: #fff;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  height: 250px;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 320px;
  /* height: 100%; */
  /* background-color: #fff; */
  /* padding: 126px 0px 30px 0px; */
  transition: all 0.3s ease 0s;
  overflow: auto hidden;
  z-index: 1;
}
.info button {
  color: #fff;
}
.info select {
  color: #fff;
}
.info select option {
  color: #fff;
}
.info select .optVal1 {
  background: rgba(50, 255, 0, 0.5);
}
.info select .optVal2 {
  background: rgba(179, 255, 0, 0.5);
}
.info select .optVal3 {
  background: rgba(238, 255, 0, 0.5);
}
.info select .optVal4 {
  background: rgba(255, 217, 0, 0.5);
}
.info select .optVal5 {
  background: rgba(255, 136, 0, 0.5);
}
.info select .optVal6 {
  background: rgba(255, 0, 0, 0.5);
}

.optionsItem {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.gameZone {
  position: relative;
  width: 320px;
  height: 320px;
  transition: all 0.3s ease 0s;
}
.gameZone .cell {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #333;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: Arial;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.gameZone .cell:hover {
  background: rgba(255, 255, 255, 0.6);
}
.gameZone .cell:active {
  background: rgba(255, 255, 255, 0.8);
}

.start {
  background: none;
  border: none;
  cursor: pointer;
}

.size {
  width: 60px;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  -moz-text-align-last: center;
       text-align-last: center;
  cursor: pointer;
}

.hiden {
  display: none;
}

.opacity {
  opacity: 0;
}

.zeroHeight {
  height: 0px;
}

.header_burger {
  display: block;
  z-index: 5;
  position: relative;
  width: 20px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header_burger::before,
.header_burger::after {
  left: 0;
  position: absolute;
  height: 20%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}

.header_burger::before,
.header_burger::after {
  content: "";
}

.header_burger::before {
  top: 0;
}

.header_burger::after {
  bottom: 0;
}

.header_burger span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.header_burger._active {
  transform: rotate(-90deg);
}

._back {
  background-color: rgba(255, 255, 255, 0.5);
}